  <section id="about-me" data-aos="fade-up">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="row mt-5">
          <img class="img-thumbnail fit-image" src="assets/images/pasfoto.jpg" alt="" />
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="row mt-5 w-75">
          <div class="col">
            <h3>About me</h3>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="row mt-2 w-75">
          <div class="col">
            <p>
              Hey, my name is Ilham. I'm a software developer with experience in Android and Front-End Web Development.
              Over the
              past three years, I've worked extensively with Kotlin (Android), React.js, and React Native.
              I'm really passionate to learn and adapt to new technologies that align with industry trends and
              continuously
              improving my skills to build better software.
            </p>
            <h6>Education</h6>
            <ul>
              <li>SMAN 8 Kediri (2015 - 2018)</li>
              <li>State Polythecnic of Malang (2018 - 2021)</li>
            </ul>
            <h6>Work Experience</h6>
            <ul>
              <li>Bakesbangpol Kab. Malang | Internship (2021) </li>
              <li>PT. Bits Miliartha | Frontend Web & Android Developer (2022 - Present)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>