  <section id="contact" data-aos="fade-up">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="row mt-3 w-75">
          <div class="col">
            <h3>How to Connect with Me</h3>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="row mt-2 w-75">
          <div class="col">
            <ul class="list-unstyled">
              <li><strong>Email</strong></li>
              <li>ilhamfebrianarwansyah@gmail.com</li>
              <li><strong>Phone</strong></li>
              <li>+62881026054906</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>