<div id="contact" style="height: 1px;"></div>
<section class="section position-relative" data-aos="fade-up">
  <div class="container pt-6 text-center">
    <h3 data-i18n="contact"></h3>
    <p class="lead mb-4" data-i18n="contactDesc"></p>
    <a href="mailto:ilhamfebrianarwansyah@gmail.com" class="btn btn-primary me-2" data-i18n="sendEmailLabel">>
      <i class="fas fa-envelope"></i>
    </a>
    <a href="https://linkedin.com/in/aruwansha" target="_blank" class="btn btn-outline-light me-2">
      <i class="fab fa-linkedin"></i>
      LinkedIn
    </a>
    <a href="https://github.com/aruwansha" target="_blank" class="btn btn-outline-light">
      <i class="fab fa-github"></i>
      GitHub
    </a>
  </div>
</section>