  <footer>
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="row mt-5 w-40">
          <div class="col">
            <a href="https://github.com/aruwansha" target="_blank" rel="noopener noreferrer"><img
                src="assets/images/github.svg" alt="" /></a>
          </div>
          <div class="col">
            <a href="https://linkedin.com/in/aruwansha" target="_blank" rel="noopener noreferrer"><img
                src="assets/images/linkedin.svg" alt="" /></a>
          </div>
          <div class="col">
            <a href="https://facebook.com/aruwansha" target="_blank" rel="noopener noreferrer"><img
                src="assets/images/facebook.svg" alt="" /></a>
          </div>
          <div class="col">
            <a href="https://www.instagram.com/aruwansha" target="_blank" rel="noopener noreferrer"><img
                src="assets/images/instagram.svg" alt="" /></a>
          </div>
          <div class="col">
            <a href="https://twitter.com/aruwansha" target="_blank" rel="noopener noreferrer"><img
                src="assets/images/twitter.svg" alt="" /></a>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="row mt-4 w-75">
          <div class="col text-center">
            <div>
              Icons made by
              <a href="https://www.flaticon.com/authors/pixel-perfect" target="_blank" rel="noopener noreferrer"
                title="Pixel perfect">Pixel perfect</a>
              from
              <a href="https://www.flaticon.com/" title="Flaticon" target="_blank"
                rel="noopener noreferrer">www.flaticon.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>