<footer>
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="row mt-5 w-40">
        <div class="col">
          <a href="https://github.com/aruwansha" target="_blank" rel="noopener noreferrer"><img src="assets/images/github.svg" alt=""/></a>
        </div>
        <div class="col">
          <a href="https://linkedin.com/in/aruwansha" target="_blank" rel="noopener noreferrer"><img src="assets/images/linkedin.svg" alt=""/></a>
        </div>
        <div class="col">
          <a href="https://www.instagram.com/aruwansha" target="_blank" rel="noopener noreferrer"><img src="assets/images/instagram.svg" alt=""/></a>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="row mt-4 mb-2 w-75">
        <div class="col text-center">
          <div>
            aruwansha ©2025
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>