<section class="section position-relative" id="profile" data-aos="fade-up">
  <div class="ornament-circle ornament-lg top left"></div>
  <div class="ornament-circle ornament-md center-y right"></div>
  <div class="container py-5">
    <div class="row justify-content-center">
      <h5>Ilham Febrian Arwansyah</h5>
    </div>

    <div class="row justify-content-center">
      <h2>Software Developer</h2>
    </div>

    <div class="row justify-content-center mt-7">
      <div class="col-lg-6 position-relative">
        <div class="profile-card">
          <div class="card-layer"></div>
          <div class="photo-wrapper">
            <img src="assets/images/profile-photo.png" alt="Profile Photo">
          </div>
        </div>
      </div>
      <div class="col-lg-6 position-relative mt-3">
        <h1 data-i18n="greeting"></h1>
        <p class="profile-desc" data-i18n="description"></p>
        <a href="#works">
          <button class="btn btn-lg btn-primary" data-i18n="btnText"></button>
        </a>
      </div>
    </div>
  </div>

  <div class="container">
    <h5 data-i18n="educationLabel"></h5>
    <div class="timeline-list">
      <div class="timeline-item d-flex">
        <div class="marker mr-3">
          <div class="circle"></div>
          <div class="line"></div>
        </div>
        <div class="content flex-grow-1">
          <div class="d-flex align-items-center mb-1">
            <div class="entity mr-2" data-i18n="college1"></div>
          </div>
          <h5 class="title mb-1" data-i18n="college1Major"></h5>
          <div class="meta text-muted small mb-1" data-i18n="college1Timeline"></div>
        </div>
      </div>

      <div class="timeline-item d-flex mt-4">
        <div class="marker mr-3">
          <div class="circle"></div>
          <div class="line"></div>
        </div>
        <div class="content flex-grow-1">
          <div class="d-flex align-items-center mb-1">
            <div class="entity mr-2" data-i18n="highSchool"></div>
          </div>
          <h5 class="title mb-1" data-i18n="highSchoolMajor"></h5>
          <div class="meta text-muted small mb-1" data-i18n="highSchoolTimeline"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h5 data-i18n="workExperienceLabel"></h5>
    <div class="timeline-list">
      <div class="timeline-item d-flex">
        <div class="marker mr-3">
          <div class="circle"></div>
          <div class="line"></div>
        </div>
        <div class="content flex-grow-1">
          <div class="d-flex align-items-center mb-1">
            <div class="entity mr-2" data-i18n="exp3"></div>
          </div>
          <h5 class="title mb-1" data-i18n="exp3Pos"></h5>
          <div class="meta text-muted small mb-1" data-i18n="exp3Timeline"></div>
        </div>
      </div>

      <div class="timeline-item d-flex mt-4">
        <div class="marker mr-3">
          <div class="circle"></div>
          <div class="line"></div>
        </div>
        <div class="content flex-grow-1">
          <div class="d-flex align-items-center mb-1">
            <div class="entity mr-2" data-i18n="exp2"></div>
          </div>
          <h5 class="title mb-1" data-i18n="exp2Pos"></h5>
          <div class="meta text-muted small mb-1" data-i18n="exp2Timeline"></div>
        </div>
      </div>

      <div class="timeline-item d-flex mt-4">
        <div class="marker mr-3">
          <div class="circle"></div>
          <div class="line"></div>
        </div>
        <div class="content flex-grow-1">
          <div class="d-flex align-items-center mb-1">
            <div class="entity mr-2" data-i18n="exp1"></div>
          </div>
          <h5 class="title mb-1" data-i18n="exp1Pos"></h5>
          <div class="meta text-muted small mb-1" data-i18n="exp1Timeline"></div>
        </div>
      </div>
    </div>
  </div>
</section>