<div id="projects" style="height: 1px;"></div>
<section class="section position-relative" data-aos="fade-up">
  <div class="container pt-6">
    <div class="text-center mb-4">
      <h3 data-i18n="project"></h3>
      <p data-i18n="projectDesc" class="small text-muted"></p>
    </div>

    <div class="mb-4">
      <h5 data-i18n="project5"></h5>
      <span class="badge bg-purple">Android Native App</span>
      <span class="badge bg-secondary">Kotlin</span>
      <span class="badge bg-secondary">Camera Scanner</span>
      <span class="badge bg-secondary">Printer</span>
      <span class="badge bg-secondary">Drag & Drop</span>
      <p class="mt-2" data-i18n="project5Desc"></p>

      <div class="row g-3">
        <div class="col-md-6 mb-2">
          <a href="assets/images/works/pos-resto/1.png" data-lightbox="img1" data-title="Pos Resto 1">
            <img src="assets/images/works/pos-resto/1.png" class="img-fluid rounded-3" alt="Pos Resto 1">
          </a>
        </div>
        <div class="col-md-6 mb-2">
          <a href="assets/images/works/pos-resto/2.png" data-lightbox="img1" data-title="Pos Resto 2">
            <img src="assets/images/works/pos-resto/2.png" class="img-fluid rounded-3" alt="Pos Resto 2">
          </a>
        </div>
        <div class="col-md-6 mb-2">
          <a href="assets/images/works/pos-resto/3.png" data-lightbox="img1" data-title="Pos Resto 3">
            <img src="assets/images/works/pos-resto/3.png" class="img-fluid rounded-3" alt="Pos Resto 3">
          </a>
        </div>
        <div class="col-md-6 mb-2">
          <a href="assets/images/works/pos-resto/4.png" data-lightbox="img1" data-title="Pos Resto 4">
            <img src="assets/images/works/pos-resto/4.png" class="img-fluid rounded-3" alt="Pos Resto 4">
          </a>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <h5 data-i18n="project4"></h5>
      <span class="badge bg-purple">Mobile App</span>
      <span class="badge bg-secondary">React Native</span>
      <span class="badge bg-secondary">RealmDB</span>
      <span class="badge bg-secondary">Firebase</span>
      <p class="mt-2" data-i18n="project4Desc"></p>

      <div class="row g-3">
        <div class="col-md-3 mb-1">
          <a href="assets/images/works/dashboard/1.png" data-lightbox="img1" data-title="Dashboard 1">
            <img src="assets/images/works/dashboard/1.png" class="img-fluid rounded-3" alt="Dashboard 1">
          </a>
        </div>
        <div class="col-md-3 mb-1">
          <a href="assets/images/works/dashboard/2.png" data-lightbox="img1" data-title="Dashboard 2">
            <img src="assets/images/works/dashboard/2.png" class="img-fluid rounded-3" alt="Dashboard 2">
          </a>
        </div>
        <div class="col-md-3 mb-1">
          <a href="assets/images/works/dashboard/3.png" data-lightbox="img1" data-title="Dashboard 3">
            <img src="assets/images/works/dashboard/3.png" class="img-fluid rounded-3" alt="Dashboard 3">
          </a>
        </div>
        <div class="col-md-3">
          <a href="assets/images/works/dashboard/4.png" data-lightbox="img1" data-title="Dashboard 4">
            <img src="assets/images/works/dashboard/4.png" class="img-fluid rounded-3" alt="Dashboard 4">
          </a>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <h5 data-i18n="project3"></h5>
      <span class="badge bg-purple">Android Native App</span>
      <span class="badge bg-secondary">Kotlin</span>
      <span class="badge bg-secondary">Camera Scanner</span>
      <span class="badge bg-secondary">Export Xls</span>
      <p class="mt-2" data-i18n="project3Desc"></p>

      <div class="row g-3">
        <div class="col-md-4 mb-1">
          <a href="assets/images/works/inventory-manager/1.jpg" data-lightbox="img1" data-title="Inventory 1">
            <img src="assets/images/works/inventory-manager/1.jpg" class="img-fluid rounded-3" alt="Inventory 1">
          </a>
        </div>
        <div class="col-md-4 mb-1">
          <a href="assets/images/works/inventory-manager/2.jpg" data-lightbox="img1" data-title="Inventory 2">
            <img src="assets/images/works/inventory-manager/2.jpg" class="img-fluid rounded-3" alt="Inventory 3">
          </a>
        </div>
        <div class="col-md-4 mb-1">
          <a href="assets/images/works/inventory-manager/3.jpg" data-lightbox="img1" data-title="Inventory 3">
            <img src="assets/images/works/inventory-manager/3.jpg" class="img-fluid rounded-3" alt="Inventory 3">
          </a>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <h5 data-i18n="project2"></h5>
      <span class="badge bg-purple">MERN Stack</span>
      <span class="badge bg-secondary">MongoDB</span>
      <span class="badge bg-secondary">React</span>
      <span class="badge bg-secondary">ExpressJS</span>
      <span class="badge bg-secondary">Chat</span>
      <p class="mt-2" data-i18n="project2Desc"></p>

      <div class="row g-3">
        <div class="col-md-6 mb-2">
          <a href="assets/images/works/kerjain/1.jpg" data-lightbox="img1" data-title="Freelancer 1">
            <img src="assets/images/works/kerjain/1.jpg" class="img-fluid rounded-3" alt="Freelancer 1">
          </a>
        </div>
        <div class="col-md-6 mb-2">
          <a href="assets/images/works/kerjain/2.jpg" data-lightbox="img1" data-title="Freelancer 2">
            <img src="assets/images/works/kerjain/2.jpg" class="img-fluid rounded-3" alt="Freelancer 2">
          </a>
        </div>
        <div class="col-md-6 mb-2">
          <a href="assets/images/works/kerjain/3.jpg" data-lightbox="img1" data-title="Freelancer 3">
            <img src="assets/images/works/kerjain/3.jpg" class="img-fluid rounded-3" alt="Freelancer 3">
          </a>
        </div>
        <div class="col-md-6 mb-2">
          <a href="assets/images/works/kerjain/4.jpg" data-lightbox="img1" data-title="Freelancer 4">
            <img src="assets/images/works/kerjain/4.jpg" class="img-fluid rounded-3" alt="Freelancer 4">
          </a>
        </div>
      </div>
    </div>

    <div>
      <h5 data-i18n="project1"></h5>
      <span class="badge bg-purple">Web Application</span>
      <span class="badge bg-secondary">CodeIgniter 3</span>
      <span class="badge bg-secondary">PHP</span>
      <p class="mt-2" data-i18n="project1Desc"></p>

      <div class="row g-3">
        <div class="col-md-6 mb-2">
          <a href="assets/images/works/bakesbangpol/1.jpg" data-lightbox="img1" data-title="Research Licensing 1">
            <img src="assets/images/works/bakesbangpol/1.jpg" class="img-fluid rounded-3" alt="Research Licensing 1">
          </a>
        </div>
        <div class="col-md-6 mb-2">
          <a href="assets/images/works/bakesbangpol/2.jpg" data-lightbox="img1" data-title="Research Licensing 2">
            <img src="assets/images/works/bakesbangpol/2.jpg" class="img-fluid rounded-3" alt="Research Licensing 2">
          </a>
        </div>
        <div class="col-md-6 mb-2">
          <a href="assets/images/works/bakesbangpol/3.jpg" data-lightbox="img1" data-title="Research Licensing 3">
            <img src="assets/images/works/bakesbangpol/3.jpg" class="img-fluid rounded-3" alt="Research Licensing 3">
          </a>
        </div>
      </div>
    </div>

  </div>
</section>