  <section id="works" data-aos="fade-up">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="row mt-3 w-75">
          <div class="col">
            <h3>Things that I've Made</h3>
          </div>
        </div>
      </div>
      <div>
        <div class="d-flex justify-content-center">
          <div class="row mt-2 w-75">
            <div class="col">
              <h6>
                Simple Cash Flow -
                <a href="https://github.com/aruwansha/simple-cash" target="_blank" rel="noopener noreferrer">Repo</a>
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="d-flex justify-content-center">
          <div class="row mt-2 mb-1 w-75">
            <div class="col-sm-3">
              <img class="img-thumbnail" src="assets/images/works/aplikasi-kas/aplikasi-kas-web-mobile1.png" alt=""
                onclick="window.open(this.src)" />
            </div>
            <div class="col-sm-3">
              <img class="img-thumbnail" src="assets/images/works/aplikasi-kas/aplikasi-kas-web-mobile2.png" alt=""
                onclick="window.open(this.src)" />
            </div>
            <div class="col-sm-5 align-self-center">
              <img class="img-thumbnail" src="assets/images/works/aplikasi-kas/aplikasi-kas-web-desktop.png" alt=""
                onclick="window.open(this.src)" />
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="d-flex justify-content-center">
          <div class="row mt-3 w-75">
            <div class="col">
              <h6>
                Research Licensing and Information Center -
                <a href="https://github.com/aruwansha/Bakesbangpol/" target="_blank" rel="noopener noreferrer">Repo</a>
              </h6>
              <!-- <p>Admin: bakesbangpol - nimda123</p> -->
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="d-flex justify-content-center">
          <div class="row mt-2 w-75">
            <div class="col">
              <img class="img-thumbnail" src="assets/images/works/bakesbangpol/gambar-1.jpg" alt=""
                onclick="window.open(this.src)" />
            </div>
            <div class="col">
              <img class="img-thumbnail" src="assets/images/works/bakesbangpol/gambar-2.jpg" alt=""
                onclick="window.open(this.src)" />
            </div>
            <div class="col align-self-center">
              <img class="img-thumbnail" src="assets/images/works/bakesbangpol/gambar-3.jpg" alt=""
                onclick="window.open(this.src)" />
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="d-flex justify-content-center">
          <div class="row mt-3 w-75">
            <div class="col">
              <h6>
                Pet Grooming and Pet Hotel Service
              </h6>
              <!-- <p>
                Admin: admin@gmail.com - 123 <br />User: tes@gmail.com - 12345
              </p> -->
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="d-flex justify-content-center">
          <div class="row mt-2 w-75">
            <div class="col">
              <img class="img-thumbnail" src="assets/images/works/rakki-pet/gambar-1.jpg" alt=""
                onclick="window.open(this.src)" />
            </div>
            <div class="col">
              <img class="img-thumbnail" src="assets/images/works/rakki-pet/gambar-2.jpg" alt=""
                onclick="window.open(this.src)" />
            </div>
            <div class="col align-self-center">
              <img class="img-thumbnail" src="assets/images/works/rakki-pet/gambar-3.jpg" alt=""
                onclick="window.open(this.src)" />
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="d-flex justify-content-center">
          <div class="row mt-3 w-75">
            <div class="col">
              <h6>
                Freelancer Marketplace -
                <a href="https://github.com/aruwansha/kerjain-webservice/" target="_blank"
                  rel="noopener noreferrer">Repo</a>
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="d-flex justify-content-center">
          <div class="row mt-2 w-75">
            <div class="col">
              <img class="img-thumbnail" src="assets/images/works/kerjain/gambar-1.jpg" alt=""
                onclick="window.open(this.src)" />
            </div>
            <div class="col">
              <img class="img-thumbnail" src="assets/images/works/kerjain/gambar-2.jpg" alt=""
                onclick="window.open(this.src)" />
            </div>
            <div class="col align-self-center">
              <img class="img-thumbnail" src="assets/images/works/kerjain/gambar-3.jpg" alt=""
                onclick="window.open(this.src)" />
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="d-flex justify-content-center">
          <div class="row mt-3 w-75">
            <div class="col">
              <h6>
                Inventory Manager -
                <a href="https://play.google.com/store/apps/details?id=com.bits.bee.stokopname&hl=id&pli=1"
                  target="_blank" rel="noopener noreferrer">Link</a>
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="d-flex justify-content-center">
          <div class="row mt-2 w-75">
            <div class="col">
              <img class="img-thumbnail" src="assets/images/works/inventory-manager/1.jpg" alt=""
                onclick="window.open(this.src)" />
            </div>
            <div class="col">
              <img class="img-thumbnail" src="assets/images/works/inventory-manager/2.jpg" alt=""
                onclick="window.open(this.src)" />
            </div>
            <div class="col align-self-center">
              <img class="img-thumbnail" src="assets/images/works/inventory-manager/3.jpg" alt=""
                onclick="window.open(this.src)" />
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="d-flex justify-content-center">
          <div class="row mt-3 w-75">
            <div class="col">
              <h6>
                Dashboard -
                <a href="https://play.google.com/store/apps/details?id=com.bits.bee.cloud.dashboard&hl=id"
                  target="_blank" rel="noopener noreferrer">Link</a>
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="d-flex justify-content-center">
          <div class="row mt-2 w-75">
            <div class="col">
              <img class="img-thumbnail" src="assets/images/works/dashboard/1.jpg" alt=""
                onclick="window.open(this.src)" />
            </div>
            <div class="col">
              <img class="img-thumbnail" src="assets/images/works/dashboard/2.jpg" alt=""
                onclick="window.open(this.src)" />
            </div>
            <div class="col align-self-center">
              <img class="img-thumbnail" src="assets/images/works/dashboard/3.jpg" alt=""
                onclick="window.open(this.src)" />
            </div>
            <div class="col align-self-center">
              <img class="img-thumbnail" src="assets/images/works/dashboard/4.jpg" alt=""
                onclick="window.open(this.src)" />
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="row mt-2 w-75">
          <div class="col">
            <p>
              You can see all of my works at my
              <a href="https://github.com/aruwansha" target="_blank" rel="noopener noreferrer">Github</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>